## Kaggle restaurants

Datasets:
- Store_info_HPG.csv
- Store_info_Air.csv

Stappen:
- Mergen datasets

In [11]:
import pandas as pd

## Inlezen datasets

In [12]:
DATAFOLDER="C:/Users/snijd507/Documents/Python Scripts/Kaggle Restaurant Case/Data/"

In [13]:
HPG_store = pd.read_csv(DATAFOLDER+"hpg_store_info.csv")

In [14]:
AIR_store = pd.read_csv(DATAFOLDER+"air_store_info.csv")

Koppeltabel inladen

In [15]:
Store_id = pd.read_csv(DATAFOLDER+"store_id_relation.csv")

Datasets bekijken

In [16]:
AIR_store.head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [17]:
HPG_store.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [18]:
Store_id.head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

# Merge stores
- df om verder mee te gaan: store_merged
- Air_store is de basis overlappende stores uit HPG_stores zijn toegevoegd via merge

In [20]:
Store_id.shape

(150, 2)

In [23]:
HPG_store.shape

(4690, 5)

In [24]:
AIR_store.shape

(829, 5)

In [79]:
df_stores = pd.merge(Store_id, AIR_store, on = 'air_store_id', how = 'outer')

In [81]:
df_stores.head()

,air_store_id,hpg_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894
1,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Dining bar,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940
2,air_c7f78b4f3cba33ff,hpg_cd8ae0d9bbd58ff9,Okonomiyaki/Monja/Teppanyaki,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599
3,air_947eb2cae4f3e8f2,hpg_de24ea49dc25d6b8,Izakaya,Fukuoka-ken Fukuoka-shi Hakata Ekimae,33.591358,130.414878
4,air_965b2e0cf4119003,hpg_653238a84804d8e7,Izakaya,Tōkyō-to Meguro-ku Kamimeguro,35.641463,139.698171

In [82]:
store_merged = pd.merge(df_stores, HPG_store, on = ['hpg_store_id'],  how = 'left')

In [83]:
store_merged.shape

(829, 10)

In [84]:
store_merged.head(10)

,air_store_id,hpg_store_id,air_genre_name,air_area_name,latitude_x,longitude_x,hpg_genre_name,hpg_area_name,latitude_y,longitude_y
0,air_63b13c56b7201bd9,hpg_4bc649e72e2a239a,Cafe/Sweets,Fukuoka-ken Fukuoka-shi Daimyō,33.586994,130.394894,NaN,NaN,NaN,NaN
1,air_a24bf50c3e90d583,hpg_c34b496d0305a809,Dining bar,Shizuoka-ken Hamamatsu-shi Motoshirochō,34.710895,137.725940,Italian,Shizuoka-ken Hamamatsu-shi Sukenobuchō,34.721644,137.738944
2,air_c7f78b4f3cba33ff,hpg_cd8ae0d9bbd58ff9,Okonomiyaki/Monja/Teppanyaki,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,NaN,NaN,NaN
3,air_947eb2cae4f3e8f2,hpg_de24ea49dc25d6b8,Izakaya,Fukuoka-ken Fukuoka-shi Hakata Ekimae,33.591358,130.414878,NaN,NaN,NaN,NaN
4,air_965b2e0cf4119003,hpg_653238a84804d8e7,Izakaya,Tōkyō-to Meguro-ku Kamimeguro,35.641463,139.698171,NaN,NaN,NaN,NaN
5,air_a38f25e3399d1b25,hpg_50378da9ffb9b6cd,Izakaya,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,Japanese style,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
6,air_3c938075889fc059,hpg_349b1b92f98b175e,Japanese food,Fukuoka-ken Fukuoka-shi Daimyō,33.589216,130.392813,Japanese style,Fukuoka-ken Fukuoka-shi Ōmiya,33.579734,130.401762
7,air_68301bcb11e2f389,hpg_2c09f3abb2220659,Izakaya,Tōkyō-to Suginami-ku Asagayaminami,35.699566,139.636438,NaN,NaN,NaN,NaN
8,air_5f6fa1b897fe80d5,hpg_40aff6385800ebb1,Izakaya,Shizuoka-ken Shizuoka-shi Ōtemachi,34.975140,138.383243,NaN,NaN,NaN,NaN
9,air_00a91d42b08b08d9,hpg_fbe603376b5980fc,Italian/French,Tōkyō-to Chiyoda-ku Kudanminami,35.694003,139.753595,NaN,NaN,NaN,NaN

In [94]:
store_merged['air_area_name'].unique()

array(['Fukuoka-ken Fukuoka-shi Daimyō',
       'Shizuoka-ken Hamamatsu-shi Motoshirochō',
       'Tōkyō-to Minato-ku Shibakōen',
       'Fukuoka-ken Fukuoka-shi Hakata Ekimae',
       'Tōkyō-to Meguro-ku Kamimeguro', 'Tōkyō-to Chiyoda-ku Kudanminami',
       'Tōkyō-to Suginami-ku Asagayaminami',
       'Shizuoka-ken Shizuoka-shi Ōtemachi',
       'Tōkyō-to Machida-shi Morino', 'Tōkyō-to Shinjuku-ku Kabukichō',
       'Hokkaidō Sapporo-shi Minami 3 Jōnishi',
       'Tōkyō-to Shibuya-ku Shibuya', 'Tōkyō-to Tachikawa-shi Izumichō',
       'Niigata-ken Niigata-shi Gakkōchōdōri 1 Banchō',
       'Tōkyō-to Taitō-ku Higashiueno',
       'Tōkyō-to Chiyoda-ku Kanda Jinbōchō',
       'Hiroshima-ken Hiroshima-shi Kokutaijimachi',
       'Tōkyō-to Kōtō-ku Kameido', 'Tōkyō-to Chūō-ku Tsukiji',
       'Tōkyō-to Edogawa-ku Chūō', 'Hyōgo-ken Kōbe-shi Kumoidōri',
       'Tōkyō-to Chūō-ku Ginza', 'Ōsaka-fu Ōsaka-shi Ōgimachi',
       'Hokkaidō Sapporo-shi Kotoni 2 Jō', 'Tōkyō-to Kōtō-ku Tomioka',
       'Hokkaidō Asahikawa-shi 6 Jōdōri',
       'Hiroshima-ken Fukuyama-shi Higashisakuramachi',
       'Hyōgo-ken Kakogawa-shi Kakogawachō Kitazaike',
       'Ōsaka-fu Ōsaka-shi Shinmachi',
       'Hyōgo-ken Amagasaki-shi Higashinanamatsuchō',
       'Hiroshima-ken Hiroshima-shi Nagarekawachō',
       'Fukuoka-ken Fukuoka-shi Shiobaru', 'Hyōgo-ken Himeji-shi Yasuda',
       'Fukuoka-ken Fukuoka-shi Imaizumi',
       'Ōsaka-fu Ōsaka-shi Nanbasennichimae',
       'Fukuoka-ken Kitakyūshū-shi Ōtemachi',
       'Niigata-ken Niigata-shi Teraohigashi', 'Tōkyō-to Ōta-ku Kamata',
       'Tōkyō-to Kōtō-ku Tōyō', 'Miyagi-ken Sendai-shi Kamisugi',
       'Tōkyō-to Minato-ku Akasaka', 'Ōsaka-fu Ōsaka-shi Kyūtarōmachi',
       'Tōkyō-to Katsushika-ku Tateishi',
       'Fukuoka-ken Kitakyūshū-shi None',
       'Fukuoka-ken Kurume-shi Jōnanmachi',
       'Hokkaidō Sapporo-shi Kita 24 Jōnishi',
       'Tōkyō-to Toshima-ku Minamiikebukuro',
       'Tōkyō-to Setagaya-ku Setagaya', 'Ōsaka-fu Suita-shi Izumichō',
       'Tōkyō-to Ōta-ku Kamiikedai',
       'Hyōgo-ken Nishinomiya-shi Rokutanjichō',
       'Tōkyō-to Meguro-ku Takaban', 'Tōkyō-to Adachi-ku Chūōhonchō',
       'Tōkyō-to Musashino-shi Midorichō',
       'Tōkyō-to Nerima-ku Toyotamakita',
       'Tōkyō-to Shinagawa-ku Hiromachi', 'Ōsaka-fu Ōsaka-shi Nakanochō',
       'Tōkyō-to Toshima-ku Sugamo', 'Tōkyō-to Setagaya-ku Kitazawa',
       'Fukuoka-ken Fukuoka-shi Tenjin',
       'Fukuoka-ken Fukuoka-shi Takatori',
       'Hokkaidō Sapporo-shi Atsubetsuchūō 1 Jō',
       'Hokkaidō Abashiri-shi Minami 6 Jōhigashi',
       'Hyōgo-ken Kōbe-shi Sumiyoshi Higashimachi',
       'Tōkyō-to Itabashi-ku Itabashi', 'Fukuoka-ken Fukuoka-shi Torikai',
       'Shizuoka-ken Numazu-shi Miyukichō',
       'Ōsaka-fu Ōsaka-shi Fuminosato', 'Fukuoka-ken Fukuoka-shi Momochi',
       'Tōkyō-to Meguro-ku Jiyūgaoka',
       'Fukuoka-ken Itoshima-shi Maebarunishi',
       'Tōkyō-to Musashino-shi Kichijōji Honchō',
       'Hokkaidō Katō-gun Motomachi', 'Tōkyō-to Kita-ku Ōjihonchō',
       'Ōsaka-fu Ōsaka-shi Ōhiraki', 'Tōkyō-to Koganei-shi Honchō',
       'Tōkyō-to Toshima-ku Higashiikebukuro',
       'Tōkyō-to Shinjuku-ku Nishishinjuku', 'Tōkyō-to Bunkyō-ku Kasuga',
       'Ōsaka-fu Sakai-shi Minamikawaramachi',
       'Tōkyō-to Setagaya-ku Okusawa',
       'Fukuoka-ken Kitakyūshū-shi Konyamachi',
       'Tōkyō-to Taitō-ku Kuramae', 'Hyōgo-ken Takarazuka-shi Tōyōchō',
       'Tōkyō-to Shibuya-ku Jingūmae',
       'Niigata-ken Kashiwazaki-shi Chūōchō',
       'Tōkyō-to Bunkyō-ku Sendagi', 'Tōkyō-to Fuchū-shi Miyanishichō',
       'Niigata-ken Nagaoka-shi Ōtedōri', 'Tōkyō-to Taitō-ku Asakusa',
       'Ōsaka-fu Higashiōsaka-shi Aramotokita',
       'Tōkyō-to Setagaya-ku Sangenjaya', 'Tōkyō-to Toshima-ku Mejiro',
       'Hyōgo-ken Kōbe-shi Motomachidōri',
       'Tōkyō-to Shinagawa-ku Higashigotanda',
       'Tōkyō-to Shibuya-ku Dōgenzaka', 'Tōkyō-to Nakano-ku Nakano',
       'Tōkyō-to Toshima-ku Nishiikebukuro',
       'Ōsaka-fu Neyagawa-shi Honmachi', 'Tōkyō-to Minato-ku Roppongi',
       'Fukuoka-ken Yame-shi Motomachi',
       'Ōsaka-fu Ōsaka-shi Kyōmachibori', 'Tōkyō-to Shibuya-ku Higashi'],
      dtype=object)

In [95]:
store_merged['hpg_area_name'].unique()

array([nan, 'Shizuoka-ken Hamamatsu-shi Sukenobuchō',
       'Tōkyō-to Chiyoda-ku None', 'Fukuoka-ken Fukuoka-shi Ōmiya',
       'Tōkyō-to Machida-shi Nakamachi', 'Tōkyō-to Shinjuku-ku None',
       'Hokkaidō Sapporo-shi Minami 4 Jōnishi',
       'Tōkyō-to Shibuya-ku None', 'Tōkyō-to Hachiōji-shi Ishikawamachi',
       'Niigata-ken Niigata-shi Higashiōdōri',
       'Tōkyō-to Sumida-ku Tachibana', 'Tōkyō-to Taitō-ku None',
       'Tōkyō-to Chūō-ku Ginza', 'None None None',
       'Tōkyō-to Kōtō-ku Minamisuna', 'Hokkaidō Asahikawa-shi 3 Jōdōri',
       'Osaka Prefecture Osaka None',
       'Hyōgo-ken Kakogawa-shi Noguchichō Yoshino',
       'Fukuoka-ken Fukuoka-shi Hakata Ekimae',
       'Ōsaka-fu Ōsaka-shi Shinsaibashisuji',
       'Fukuoka-ken Fukuoka-shi Daimyō',
       'Hiroshima-ken Hiroshima-shi Hondōri',
       'Tōkyō-to Minato-ku Takanawa', 'Fukuoka-ken Fukuoka-shi None',
       'Hiroshima-ken Fukuyama-shi Sannomaruchō',
       'Hyōgo-ken Kōbe-shi None', 'Hyōgo-ken Himeji-shi Tsuchiyama',
       'Fukuoka-ken Kitakyūshū-shi Sunatsu',
       'Niigata-ken Niigata-shi Sakaihigashi',
       'Kanagawa-ken Yokohama-shi Nagatsutachō',
       'Fukuoka-ken Kitakyūshū-shi Aoyama',
       'Tōkyō-to Shinjuku-ku Takadanobaba',
       'Ōsaka-fu Ōsaka-shi Awajimachi', 'Tōkyō-to Shibuya-ku Ebisunishi'],
      dtype=object)